<mat-toolbar color="warn">

     <span class="heading-text">PhotoShare</span>
     
     <button mat-button routerLink="/home" routerLinkActive="active" class="active" class="nav-btn"> <span class="fa fa-home"></span> Home</button>
     <button mat-button routerLink="/uploadphoto" routerLinkActive="active" class="nav-btn"><span class="fa fa-photo"></span> Add Photo</button>
     <button mat-button routerLink="/analysis" routerLinkActive="active" class="nav-btn"><span class="fa fa-file"></span> Analysis</button>

     <span class="flex-spacer"></span>

     <!-- <div *ngIf="true" class="login-btn">
          <button mat-button (click) = "openLoginForm()"><span class="fa fa-sign-in"></span> Login</button>
     </div>
     
     <div *ngIf="false" class="login-btn">
          <span class="fa fa-user"></span>
          Welcome, Amar
     </div> -->

</mat-toolbar>