.heading-text
{
     font-size: 22px;
}

button
{
     margin: 0px 5px;
}

.fa-user
{
     height: 30px;
     width: 30px;
     justify-content: center;
     align-items: center;
     display: inline-flex;
     border-radius: 50%;
     border: 1px solid blue;
}

