mat-dialog-actions button
{
     margin: 0px 20px;
}

mat-dialog-content
{
     margin-left: 20px;
}

.goto-signup-form
{
     text-align: center;
     margin-top: 50px;
}

.goto-signup-form span
{
     color: blue;
     text-decoration: underline;
     cursor: pointer;
}

mat-form-field
{
     width: 80%;
     margin-top: 20px;
}