<div class="container">
     <mat-card class="photo-upload-card">
          <mat-card-header>
               <h2>Add Photo</h2>
          </mat-card-header>
          
          <p>{{ uploadForm.value | json }}</p>
          <form novalidate #uform="ngForm" [formGroup]="uploadForm" (ngSubmit) = "onSubmit()">
               
               <mat-card-content>
                    <mat-form-field>
                         <input matInput type="text" name="Title" formControlName="title"  placeholder="Enter title of Image" required>
                    </mat-form-field><br>

                    <mat-form-field>
                         <ngx-mat-file-input placeholder="Select image file" accept=".jpeg, .jpg, .png" formControlName="image"></ngx-mat-file-input>
                         <mat-icon matSuffix><span class="fa fa-folder" ></span></mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                         <textarea matInput rows="5" placeholder="Enter caption of image" formControlName="description" required></textarea>
                    </mat-form-field>
               </mat-card-content>

               <mat-card-actions>
                    <button mat-button>Submit</button>
               </mat-card-actions>

          </form>
          

          
          
     </mat-card>
</div>
