.container
{
     justify-content: center;
     align-items: center;
     text-align: center;
     display: flex;
}

.photo-upload-card
{
     margin-top: 80px;
     padding: 30px;
     width: 40%;
}

mat-form-field, button
{
     width: 80%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button
{
     background-color: #ffacff;
}